//====================================================================================================
.container {
    &__text-box {
        padding: 80px 0px 50px 0px;
    }
}
.text-box {
    &__subtitle {
        font-size: 40px;
        font-family: "CeremoniousOne";
        color: rgb(187, 156, 102);
        line-height: 0.625;
        text-align: center;
        margin: 0px 0px 30px 0px;
    }

    &__title {
        font-size: 35px;
        font-family: "PFDinTextCondPro";
        color: rgb(28, 36, 42);
        text-transform: uppercase;
        line-height: 0.6;
        text-align: center;
        margin: 0px 0px 25px 0px;
    }

    &__image {
        display: flex;
        justify-content: center;
    }
    &__img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &_left-- {
            margin: 0px 50px 0px 0px;
        }
        &_right-- {
            margin: 0px 0px 0px 50px;
        }
    }
}

.btn {
    position: relative;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.4;
    text-align: center;
    display: block;
    border: 3px solid rgb(187, 156, 102);
    padding: 5px 20px 5px 20px;
    &_black {
        color: #000;
    }

    &:hover {
        color: #b79761;
        transform: all 0.3s ease 0s;
    }
}
//====================================================================================================
