@use "sass:math";

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================

// Підключити, якщо є локальні файли шрифтів
@import "fonts/fonts";
@import url(https://fonts.googleapis.com/css?family=PTSans:regular,italic,700,700italic,cyrilic);
// Підключення іконкових шрифтів ==============================================================================================================================================================================================================================================================================
// Підключити, якщо є файл іконкового шрифту
// @import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Налаштування шаблону ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================
@import "swiper/css";
// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
@import "fonts/fonts";
$fontFamily: "PTSant";
$fontSize: toRem(14); // де 14(px) - розмір шрифту за замовчуванням з макету

// Основні кольори
$mainColor: #000; // Колір шрифту за замовчуванням

// Палітра кольорів
// @import "base/colors-palette";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 985;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: toEm($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: toEm(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: toEm(767.98); // Телефони L
$mobileSmall: toEm(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Підключення компонентів tailwind ============================================================================================================================================================================================== =============================================================================================== ===========================================================================
// @import "libs/tailwind";

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
	// scrollbar-gutter: stable;
	// Скролл заблоковано
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт завантажений
	.loaded & {
	}
}
// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Притискаємо footer
	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}
// Обмежуючий контейнер ======================================================================================================================================================================================================================

// (i) Стилі будуть застосовуватись до
// всіх класів, що містять *__container
// Наприклад header__container, main__container і т.п.
// Сніппет (HTML): cnt

@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: toRem(970);
		}
		@media (max-width: $tablet) {
			max-width: toRem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
	}
}

// (i) Експерементальний функціонал
// Заміна обмежуючому контейнеру
[class*="--gc"] {
	@include gridContainer();
}

// Підключення базових стилів, шаблонів (заготівель) та допоміжних класів
// Для підключення/вимкнення конкретних стилів дивись base.scss
@import "base";

// Підключення стилів загальних елементів проекту
@import "common";

// Підключення стилів окремих блоків
@import "header";
@import "footer";

// Підключення стилів окремих сторінок
@import "home";

// lots
.lots {
	&__container {
	}
}
.container {
	&__text-box {
		padding: 80px 0px 50px 0px;
	}
}
.text-box {
	&__subtitle {
		font-size: 40px;
		font-family: "CeremoniousOne";
		color: rgb(187, 156, 102);
		line-height: 0.625;
		text-align: center;
		margin: 0px 0px 30px 0px;
	}

	&__title {
		font-size: 35px;
		font-family: "PFDinTextCondPro";
		color: rgb(28, 36, 42);
		text-transform: uppercase;
		line-height: 0.6;
		text-align: center;
		margin: 0px 0px 25px 0px;
	}

	&__image {
		display: flex;
		justify-content: center;
	}
	&__img {
		display: flex;
		flex-direction: column;
		justify-content: center;
		&_left-- {
			margin: 0px 50px 0px 0px;
		}
		&_right-- {
			margin: 0px 0px 0px 50px;
		}
	}
}

.btn {
	position: relative;
	font-size: 15px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.4;
	text-align: center;
	display: block;
	border: 3px solid rgb(187, 156, 102);
	padding: 5px 20px 5px 20px;
	&_black {
		color: #000;
	}

	&:hover {
		color: #b79761;
		transform: all 0.3s ease 0s;
	}
}

.lots {
	&__colomn {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 0 1 33.333%;
		padding: 0px 50px;
		position: relative;
	}

	&__colomn-image {
		position: absolute;
		& img {
			max-width: 90%;
			display: block;
			margin: 0px auto;
		}
	}

	&__colomn-rhombus {
		position: absolute;
		top: 100%;
		transform: translate(75%, -50%);
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 160;
	}

	&__colomn-rhombus-img {
		position: relative;
		z-index: 165;
	}

	&__colomn-rhombus-clock {
		position: absolute;
		top: 15px;
		z-index: 167;
	}

	&__colomn-rhombus-time {
		position: absolute;
		top: 32px;
		font-size: 18px;
		font-family: "PTSans";
		color: rgb(0, 0, 0);
		line-height: 1.167;
		z-index: 170;
	}

	&__colomn-text {
		position: absolute;
		top: 270px;
		font-size: 21px;
		font-family: "PFDinTextCondPro";
		color: rgb(0, 0, 0);
		text-transform: uppercase;
		line-height: 1.19;
		text-align: center;
		z-index: 175;
		max-width: 280px;
	}

	&__colomn-box {
		display: flex;
		position: absolute;
		top: 355px;
	}

	&__colomn-box-left {
		display: flex;
		flex-direction: column;
		margin: 0px 20px 0px 0px;
	}

	&__colomn-box-left-image {
		position: relative;
		left: 27%;
	}

	&__colomn-box-left-img-one {
		position: absolute;
	}

	&__colomn-box-left-img-two {
		position: absolute;
		top: 8.5px;
		left: 6px;
	}

	&__colomn-box-left-text {
		display: block;
		margin: 0px auto;
		position: relative;
		top: 30%;
	}

	&__colomn-box-left-image-line {
		margin: 45% auto;
		color: #bb9c66;
		font-weight: 900;
	}

	&__colomn-box-center {
		position: relative;
	}

	&__colomn-box-center-text-one {
		position: absolute;
		top: 0;
		width: 100%;
		font-size: 14px;
		font-family: "PTSans";
		color: rgb(0, 0, 0);
		line-height: 1.786;
		text-align: center;
	}

	&__colomn-box-center-text-two {
		position: absolute;
		top: 44%;
		width: 100%;
		font-size: 20px;
		color: rgb(28, 36, 42);
		line-height: 0.42;
		text-align: center;
	}

	&__colomn-box-center-text-three {
		position: absolute;
		width: 100%;
		top: 70%;
		text-align: center;
		font-size: 14px;
		color: rgb(28, 36, 42);
		line-height: 0.42;
	}

	&__colomn-box-right {
		display: flex;
		flex-direction: column;
		margin: 0px 0px 0px 20px;
	}

	&__colomn-box-right-image {
		position: relative;
		left: 27%;
	}

	&__colomn-box-right-img-one {
		position: absolute;
	}

	&__colomn-box-right-img-two {
		position: absolute;
		top: 5px;
		left: 8px;
	}

	&__colomn-box-right-text {
		display: block;
		margin: 0px auto;
		position: relative;
		top: 30%;
		font-size: 14px;
		font-family: "PTSans";
		color: rgb(0, 0, 0);
		text-align: center;
	}

	&__colomn-box-right-image-line {
		margin: 45% auto;
		color: #bb9c66;
		font-weight: 900;
	}

	&__box-button {
		position: absolute;
		top: 480px;
		margin: 25px auto 50px auto;
	}
}

.swiper-button__box-lots {
	display: flex;
	margin: 580px auto 0px auto;
	position: relative;
}

.swiper-button-next_lots {
	margin: 0px 0px 0px -15px;
	padding: 0px 0px 0px 0px;
	font-size: 12px;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 1.19;
	text-align: center;
}

.swiper-button-prev_lots {
	margin: 0px -15px 0px 0px;
	font-size: 12px;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 1.19;
	text-align: center;
	text-align: left;
}

.swiper-image-lots img {
	max-width: 90%;
	display: block;
	margin: 0px auto;
}

@media (max-width: $mobile) {
	.lots__colomn-box-center-text-one {
		width: 100%;
		font-size: 13px;
		margin: 10px 0px 0px 0px;
	}
	.lots__box-button {
		top: 450px;
	}
	.btn {
		&_black {
			font-size: 12px;
			padding: 5px 10px 5px 10px;
			border: 1px solid #bb9c66;
		}
	}
	.swiper-button__box-lots {
		margin: 510px auto 0px auto;
	}
	.swiper-button-next_lots {
		margin: 0px 0px 0px 0px;
		font-size: 12px;
		font-weight: 500;
	}
	.swiper-button-prev_lots {
		margin: 0px 0px 0px 0px;
		font-size: 12px;
		font-weight: 500;
	}
	.lots__colomn-box-center-text-one {
		font-size: 12px;
	}

	.lots__colomn-box-center-text-two {
		font-size: 18px;
	}

	.lots__colomn-box-center-text-three {
		font-size: 12px;
		margin: 0px 0px 5px 0px;
	}
	.lots__colomn-text {
		top: 280px;
		font-size: 18px;
	}
	.lots__colomn-box {
		display: flex;
		position: absolute;
		top: 345px;
	}
	.lots__colomn-rhombus-time {
		position: absolute;
		top: 35px;
		font-size: 15px;
		font-family: "PTSans";
		color: rgb(0, 0, 0);
		line-height: 1.167;
		z-index: 170;
	}
}
@media (max-width: 557px) {
	.swiper-button__box-lots {
		opacity: 0;
		visibility: hidden;
		max-width: 15%;
	}
}

.lots {
	&__all {
		display: flex;
		display: none;
		flex-wrap: wrap;
		width: 100%;
		height: 1200px;
		@media (max-width: 1097px) {
			height: 1850px;
		}
		@media (max-width: 800px) {
			height: 2400px;
		}
	}

	&__colomn {
		&_all {
			flex: 0 1 20%;
			margin: 50px 0px 0px 0px;
			@media (max-width: 1315px) {
				flex: 0 1 25%;
			}
			@media (max-width: 1097px) {
				flex: 0 1 33.333%;
			}
			@media (max-width: 800px) {
				flex: 0 1 50%;
			}
		}
	}
}
.lots__all-button {
	display: none;
	& img {
		margin: 30px auto 0px auto;
		max-width: 45%;
	}
}
.active-all {
	display: flex;
}
.active-button {
	display: flex;
}
