@use "sass:math";

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================

// Підключити, якщо є локальні файли шрифтів
@import "fonts/fonts";
@import url(https://fonts.googleapis.com/css?family=PTSans:regular,italic,700,700italic,cyrilic);
// Підключення іконкових шрифтів ==============================================================================================================================================================================================================================================================================
// Підключити, якщо є файл іконкового шрифту
// @import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Налаштування шаблону ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================
@import "swiper/css";
// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
@import "fonts/fonts";
$fontFamily: "PTSant";
$fontSize: toRem(14); // де 14(px) - розмір шрифту за замовчуванням з макету

// Основні кольори
$mainColor: #000; // Колір шрифту за замовчуванням

// Палітра кольорів
// @import "base/colors-palette";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 985;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: toEm($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: toEm(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: toEm(767.98); // Телефони L
$mobileSmall: toEm(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Підключення компонентів tailwind ============================================================================================================================================================================================== =============================================================================================== ===========================================================================
// @import "libs/tailwind";

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
	// scrollbar-gutter: stable;
	// Скролл заблоковано
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт завантажений
	.loaded & {
	}
}
// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Притискаємо footer
	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}
// Обмежуючий контейнер ======================================================================================================================================================================================================================

// (i) Стилі будуть застосовуватись до
// всіх класів, що містять *__container
// Наприклад header__container, main__container і т.п.
// Сніппет (HTML): cnt

@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: toRem(970);
		}
		@media (max-width: $tablet) {
			max-width: toRem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
	}
}

// (i) Експерементальний функціонал
// Заміна обмежуючому контейнеру
[class*="--gc"] {
	@include gridContainer();
}

// Підключення базових стилів, шаблонів (заготівель) та допоміжних класів
// Для підключення/вимкнення конкретних стилів дивись base.scss
@import "base";

// Підключення стилів загальних елементів проекту
@import "common";

// Підключення стилів окремих блоків
@import "header";
@import "footer";

// Підключення стилів окремих сторінок
@import "home";

// lots
.lots {
	&__container {
	}
}
.container {
	&__text-box {
		padding: 80px 0px 50px 0px;
	}
}
.text-box {
	&__subtitle {
		font-size: 40px;
		font-family: "CeremoniousOne";
		color: rgb(187, 156, 102);
		line-height: 0.625;
		text-align: center;
		margin: 0px 0px 30px 0px;
	}

	&__title {
		font-size: 35px;
		font-family: "PFDinTextCondPro";
		color: rgb(28, 36, 42);
		text-transform: uppercase;
		line-height: 0.6;
		text-align: center;
		margin: 0px 0px 25px 0px;
	}

	&__image {
		display: flex;
		justify-content: center;
	}
	&__img {
		display: flex;
		flex-direction: column;
		justify-content: center;
		&_left-- {
			margin: 0px 50px 0px 0px;
		}
		&_right-- {
			margin: 0px 0px 0px 50px;
		}
	}
}

.btn {
	position: relative;
	font-size: 15px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.4;
	text-align: center;
	display: block;
	border: 3px solid rgb(187, 156, 102);
	padding: 5px 20px 5px 20px;
	&_black {
		color: #000;
	}
	&:hover {
		color: #b79761;
		transform: all 0.3s ease 0s;
	}
}

.lots {
	background-color: #1b92c5;
	&__box {
	}

	&__box-row {
		display: flex;
		margin: 0px -50px;
	}

	&__colomn {
		padding: 0px 50px;
		border: 1px solid #000;
		flex: 0 1 33.333%;
	}

	&__colomn-image {
		position: relative;
	}

	&__colomn-img {
	}

	&__colomn-rhombus {
		position: absolute;
		top: 100%;
		transform: translate(70%, -50%);
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 160;
	}

	&__colomn-rhombus-image {
	}

	&__colomn-rhombus-img {
		position: relative;
		z-index: 165;
	}

	&__colomn-rhombus-clock {
		position: absolute;
		top: 17px;
		z-index: 167;
	}

	&__colomn-rhombus-clock-img {
	}

	&__colomn-rhombus-time {
		position: absolute;
		top: 35px;
		font-size: 18px;
		font-family: "PTSans";
		color: rgb(0, 0, 0);
		line-height: 1.167;
		z-index: 170;
	}

	&__colomn-text {
		position: relative;
		margin: 30px 0px 0px 0px;
		font-size: 21px;
		font-family: "PFDinTextCondPro";
		color: rgb(0, 0, 0);
		text-transform: uppercase;
		line-height: 1.19;
		text-align: center;
		z-index: 175;
	}

	&__colomn-box {
		display: flex;
	}

	&__colomn-box-left {
	}

	&__colomn-box-left-image {
	}

	&__colomn-box-left-img-one {
	}

	&__colomn-box-left-img-two {
		top: 0;
	}

	&__colomn-box-left-text {
	}

	&__colomn-box-left-image-line {
		margin: 10px auto;
	}

	&__colomn-box-left-img-line {
	}

	&__colomn-box-center {
		position: relative;
		background-color: #12a5be;
	}

	&__colomn-box-center-image {
	}

	&__colomn-box-center-img {
	}

	&__colomn-box-center-text-one {
		position: absolute;
		top: 0;
		text-align: center;
	}

	&__colomn-box-center-text-two {
		position: absolute;

		top: 50%;
		margin: 0px auto;
		text-align: center;
	}

	&__colomn-box-center-text-three {
		position: absolute;
		top: 100%;
		text-align: center;
	}

	&__colomn-box-right {
	}

	&__colomn-box-right-image {
	}

	&__colomn-box-right-img-one {
	}

	&__colomn-box-right-img-two {
	}

	&__colomn-box-right-text {
	}

	&__colomn-box-right-image-line {
	}

	&__colomn-box-right-img-line {
	}

	&__box-button {
	}
}
